# Flashpost vs code extension
Flashpost-tests/

# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
/src/env.d.ts

# zip
/zip

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.history

# secrets
secrets.*.js
.vscode/

.envrc