.comments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  background-color: var(--ifm-color-primary-darkest);
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  width: 300px;
  padding: 0.5rem;
  padding-top: 1rem;
  background-color: var(--ifm-color-secondary);
  color: var(--ifm-color-gray-900);
}

.review {
  height: 100%;
  justify-self: center;
  align-self: center;
  place-self: center;
}

.commentAvatar {
  border-radius: 100%;
  height: 1.2rem;
  width: 1.2rem;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.username {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-items: center;
  align-items: center;
  font-size: 0.75rem;
}
