@import url(../../icon.css);
@tailwind base;

.copilot {
  @apply flex flex-col w-full max-w-sm gap-2 pb-4;

  ul,
  ol {
    @apply flex flex-col gap-1;

    li {
      @apply max-h-fit leading-4;
    }
  }
}

.copilotBody {
  @apply flex flex-col -m-2 gap-2;
}

.configIt {
  @apply rounded-lg h-8 w-full hover:bg-gray-500 shadow-lg border-0;
}

.content {
  @apply flex flex-col rounded-lg prose-sm prose-p:my-0 prose-pre:my-1 whitespace-pre-wrap text-sm gap-4;
  * {
    @apply break-all text-sm;
  }

  pre {
    @apply overflow-x-auto;
  }
}

.copilotCardHeader {
  @apply flex flex-row justify-between items-center text-sm pb-2;

  a {
    @apply text-sm text-center object-center;
  }
}

.copilotFooter {
  @apply flex flex-row text-xs justify-between text-gray-500 mt-2;

  a {
    @apply text-gray-500 no-underline hover:underline;
  }
}

.popupButton {
  @apply rounded-lg h-6 w-6;
}
