name: Release

on:
  push:
    branches:
      - 'release'

jobs:
  version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.tag-version.outputs.version }}
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        name: Use Node.js
        with:
          node-version: 18.x
          cache: 'npm'
          cache-dependency-path: 'package-lock.json'

      - run: npm install --save

      - name: Release
        id: tag-version
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_GITHUB_TOKEN }}